/* 
================================================================================================================================
 ****************GENERAL
================================================================================================================================
*/

* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
}

*::before,
*::after {
    box-sizing: border-box;
}

.revelx,
.revely {
    opacity: 0;
    transform: translate(-30px, -30px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.revelx-visibleX,
.revelx-visibleY {
    opacity: 1;
    transform: translate(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    background-color: #F1DEC9;
}


/*!
=================================================================================================================================
     *NAV
=================================================================================================================================
*/
.navbar {
    display: flex;
    padding: 15px 0;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    justify-content: space-around;
    margin: auto;
    background-color: inherit;
    color: none;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

nav{
    background-color: inherit;
}
.navbar .hamburger-btn {
    display: none;
    color: #a16840;  
    cursor: pointer;
    font-size: 1.3rem;
}

#logo {
    cursor: pointer;
}

#logo a {
    font-size: 1.3rem;
    font-family: "Catalish Huntera";
    color: white 
}

#logo span {
    font-family: "Catalish Huntera";
    color: #ce8f2d;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .links a {
    color: white ;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar .links a:hover {
    color: #C38154;  
}

.navbar .login-btn {
    color:white; 
    background: transparent;
    font-weight: bold;
    padding: 2px 20px;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    border: 2px solid white; 
}

.navbar .login-btn:hover {
    color: #C38154; 
    box-shadow: 0 0 10px 5px #C38154; 
    border: 2px solid transparent;
}

.navbar.scrolled {
    background-color: #f1dec9;
}
.login-btn.scrolled {
    color: #C38154; 
    border: 2px solid #C38154; 
}
.links a.scrolled,#logo a.scrolled {
    color:#C38154; 
}

.navbar :is(.hamburger-btn, .close-btn) {
    color: white; 
}

.color{
    color: #C38154; 
}
/*!
=================================================================================================================================
     *FORMULAIRE
=================================================================================================================================
*/
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
    cursor: pointer;
    z-index: 4;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.formulaire {
    background-color: white;
    display: flex;
    width: 50VW;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(50px);
    background-image:url(../images/bg01.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.formulaire::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
    z-index: 0;
}

.elementform {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 85%;
    width: 85%;
    margin: auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}

.elementform h2 {
    color: #F1DEC9;
    font-size: 4vw;
    text-align: center;
    z-index: 1;
}

#firstnameuser , #lastnameuser ,#soinsuser  {
    width: 210px;
    height: 40px;
    text-align: center;
    border:2px solid #694d45;
}


#daterdv{
    width: 210px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #694d45;
    border:2px solid #694d45;
}

#timerdv{
    width: 210px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #694d45;
    border:2px solid #694d45;
}

.btnreserver {
    color: white;
    background-color:#694d45;
    font-weight: bold;
    padding: 10px 70px;
    transition: all 0.3s ease-in-out;
}

.btnreserver:hover {
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 5px white;
}

::placeholder {
    color: #694d45;
    opacity: 50%;
}

/*!
=================================================================================================================================
     *Slider
=================================================================================================================================
*/
.CSSgal {
	position: relative;
	overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}
.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}
.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}
.CSSgal .prevNext > div+div {
	visibility: hidden; 
}
.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}
.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}
/* NAVIGATION BUTTONS */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}

/* PREV/NEXT CONTAINERS VISIBILITY */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.CSSgal{
	color: #fff;	
	text-align: center;
    position: ab;
    width: 100vw;
    max-width: 100%;
}
.CSSgal .slider h2 {
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
    font-weight: bold;
}

#slid1{
    background: #f1dec9 url(../images/1big.jpg) center/cover no-repeat;
    position: relative; 
    justify-content: center;
    align-items: center;
}
#slid1::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
}
#slid2{
    background:#f1dec9 url(../images/z2.jpg)  center/cover no-repeat;
    position: relative; 
    justify-content: center;
    align-items: center;
}
#slid2::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
}
#slid3{
    background:#f1dec9 url(../images/sauna1.jpg) center/cover no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
}
#slid3::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
}
#slid4{
    background:#f1dec9 url(../images/bg04.jpg) center/cover no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
}
#slid4::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
  }



  .slider-txt{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vw;
    width: 100vw;
    position: relative; 
    top: 50%; 
    left: 0;
    transform: translateY(-50%); 
}

#slidtitle {
    font-size: 100px;
    margin: 0;
    width: 100%;
    font-family: "Catalish Huntera";
    z-index: 1;
}

#slidtitle b {
    font-family: "Catalish Huntera";
}

#slidgraphe{
    font-size: 30px;
    margin: 0;
    width: 100%;
    z-index: 1;
}
.social-header{
    z-index: 2;
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 50px;
    bottom: 20px;
    right: 10px;
    margin: auto;
}
.social-header a{
    width: 100%;
    font-size: 1.3vw;
    color: white;
    transition: all 0.6s;
}
.social-header :hover{
    color: rgba(255, 255, 255, 0.5);
}



/*!
=================================================================================================================================
      *PRESTATIONS
=================================================================================================================================
*/
.prestations{
    height: 250px;
    width: 1400px;
    max-width: 100%;
    display: grid;   
    grid-template-columns: repeat(4, 220px);
    justify-content: center;
    align-items:center;
    grid-gap: 50px;
    padding: 10px;
    margin: 10px auto;
}

.presta{
    height: 90%;
    width: 220px;
    text-align: center;
    gap: 20px;
    padding: 0px 0;
    margin: auto 0;
}
.presta h1{
    font-size: 22px;
    margin: 5px 0;
}

.presta h3{
    font-size: 15px;
    margin: 5px 0;
}

.presta p{
    font-size: 12px;
}
.presta img{
    height: 100px;
    width: 100px;
}

/*!
=================================================================================================================================
      *A PROPOS
=================================================================================================================================
*/
.a-propos {
    width: 1700px;
    max-width: 100%;
    height:340px;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto; 
    background-color: #ce8f2d;
    background: url(../images/1medium2.jpg);
    background-position: 50% 50%;    
    background-size: cover;
    background-repeat: no-repeat;
}

.propos-msg {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    position: relative;
    margin: auto;

}

.msg-txt {
    max-width: 60%;
    height: 300px;
    padding: 5px 40px;
    background-color: rgba(10, 10, 10, 0.479);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

.msg-txt h1 {
    color: white;
    font-family: "Quicksand";
    padding-bottom: 5px;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.msg-txt p {
    font-size: 1rem;
    color: white;
    font-family: "Quicksand";
    font-weight: bold;
    padding-bottom: 1.3rem;

}

.msg-txt p span a {
    color: #C38154;
    font-weight: bold;
    padding-right: 5px;
    font-size: 1.1rem;
    font-family: "Catalish Huntera";
}

.msg-txt .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    font-size: 20px;
    transition: all 0.2s ease-out;
    font-family: 'Quicksand';
    font-weight: bold;
}

.msg-txt .button a {
    color: white ;
    margin: auto;
}

.msg-txt .button:hover {
    color: #C38154; 
    box-shadow: 0 0 10px 5px #C38154; 
    border: 1px solid transparent;
}





/* TO TOP */

#btnTop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 35px;
    z-index: 9999;
}
#btnTop a {
    display: block;
    padding: 15px;
    opacity: 0.7;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #c28743;   
    transition: all 0.2s;
}
#btnTop a:hover,
#btnTop a:focus {
    opacity: 1;
}


@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.to-top i {
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: center;
}




/*!
=================================================================================================================================
      *ZONE DETENTE 
=================================================================================================================================
*/
.ZoneDetente{
    height:470px;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-bottom: 156PX;
    margin-top: 50PX;
}
.ZoneDetente-Text{
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ZoneDetente-Text h1{
    font-size: 50px;
    color:#C38154; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ZoneDetente-Img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 70%;
    height: 100%;
    gap: 20px;
}

.ZoneDetente-Img img{
    max-height:100% ;
    max-width: 280px;
    box-shadow: 10px 10px 5px 0px #C38154;    
    object-fit: cover;
    object-position: center;
}

.midleimg{
    max-height:100%;
    max-width: 200px;
}

/*
=================================================================================================================================
      *Services
=================================================================================================================================
*/
.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
    display: none;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

/*
=================================================================================================================================
      *Galérie
=================================================================================================================================
*/
#galérie {
    max-width: 1700px;
    width: 80%;
    height: auto;
    margin: auto;
}

.gal-txt {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10PX 0;
}

.gal-txt h1 {
    font-size: 50px;
    color:#C38154; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ma-galerie {
    max-width: 1700px;
    width: 100%;
    height: auto;
    margin: 30px auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(3, 475px);
    justify-content: center;
    grid-gap: 10px;
    overflow: hidden;
}

.ma-galerie img{
    width: 475px;
    height: 250px;
    background: #333;
    transition: all 0.4s ease-out;
    overflow: hidden;
    object-fit: cover;
}
.gal-box {
    overflow: hidden;
}
.ma-galerie img:hover{
transform: scale(1.1);
}


/*!
=================================================================================================================================
      *LOCALISATION
=================================================================================================================================
*/
.localisation{
    height: 650px;
    max-width: 1400px;
    max-width: 100%;
    padding: 10px;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
}
.localisation h1{
    font-size: 50px;
    color: #884A39;  
    font-family: 'Quicksand';
    margin: 20px 0 10px 0;
}

#map{
    background-color: #f1dec9;
    margin: auto;
    height: 90%;
    width: 90%;
    overflow: hidden;
    position: relative;
}

#map img{
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    transition: all 0.3s ease-in;
    width: 100%;
    height: 100%;
}

#map img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}


/*!
=================================================================================================================================
     *rdv
=================================================================================================================================
*/
.rdv{
    height: 500px;
    width:1700px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}
.infosrdv{
    height: 90%;
    width: 40%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.infosrdv-head h1{
    color:#C38154; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    height: auto;
    margin-bottom: 10px;
}
.infosrdv-head p{
    margin-bottom: 20px;
}

.infosrdv p{
    color:#222222fb; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 100%;
}
.infosrdv i{
    padding-right: 10px;
    font-size: 25px;
    color:#C38154; 
}
.position{
    margin-bottom: 15px;
}
.hoairesetcontacts{
    display: flex;flex-wrap: nowrap;
    width: 100%;
    height: 30%;
    gap: 25px;
}
.horaire{
    width: 55%;
}
.time{
    width: 40%;
}

.hoairesetcontacts i{
    padding-right: 10px;
    font-size: 20px;
    color:#C38154; 
}
.hoairesetcontacts p , .time p , .position p{
    color:#222222fb; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    width: 100%;
    padding:10px 0 0 0 ;
}


.formulairesrdv{
    height: 90%;
    width: 40%;
    margin: auto;
    padding: 40px;
}
.elementforms h3{
   color: rgb(49, 47, 47);
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin-bottom: 3px;
   font-size: 18px;
   text-align:left;
}
.elementforms h3 span{
    padding-left: 3px;
    color: red;
}
.elementforms input{
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
}
.elementforms ::placeholder{
    padding-left: 20px;
    opacity: 50%;
}
.btnreserver{
    height: 40px;
    background-color: #C38154;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
}

.btnreserver:hover {
    border: 1px solid white;
}



/*!
=================================================================================================================================
     *FOOTER
=================================================================================================================================
*/

footer {
    height: 320PX;
    width: 100vw;
    max-width: 100%;
    background: #C38154;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    font-family: 'Quicksand';
    padding-bottom: 20px;
    color: #F1DEC9;
    margin: auto;
    padding: 20px;
}

.part1 {
    height: 210px;
    width: 1700px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
}


.Lehahiahangel {
    max-height:210px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
.iconelogo {
    height:90px;
    width:90px;
}
.Lehahiahangel p {
    font-size: 15px;
    font-family: 'Quicksand';
}
.Lehahiahangel button {
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #f1dec9;
    color: white;
    font-size: 20px;
    transition: all 0.2s ease-out;
}


.Nospages {
    max-height:170px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.Nospages h1 {
    font-size:20px;
    color: white;
    font-family: 'Quicksand';
}
.Nospages a {
    color: #F1DEC9;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Quicksand';
    padding-bottom: 1px transparent;
    width: 100%;
}
.Nospages a:hover {
    width: 100%;
    border-bottom: 1px solid #F1DEC9;
}



.Nouscontacter {
    max-height:170px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.Nouscontacter h1 {
    font-size:20px;
    color: white;
    font-family: 'Quicksand';
    margin-bottom: 10px;
}

.Nouscontacter h1 a{
    color: white;
}
.Nouscontacter div {
    display: flex ;
    justify-items: center;
    justify-content: center;
    height: 30px;
    gap: 5px;
    font-size: 15px;
    font-family: 'Quicksand';
}

.Nouscontacter a.fac{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: lighter;
    color: #F1DEC9;
}

.Nouscontacter a{
    color: #F1DEC9;
}

.Nouscontacter i{
    font-size: 20px;
    color: #F1DEC9;
    transition: all 0.1s ease-in-out;
    padding:0 10px 0 0;
    margin: auto;
}

.Nouscontacter i:hover{
    color: white;
}


.Horraires {
    max-height:170px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.Horraires h1 {
    font-size: 20px;
    color: white;
}

.Horraires p {
    font-size: 15px;
    font-family: 'Quicksand';
    color: white;
}

.Horraires span {
    padding-left: 20px;
}




.part2 {
    width:100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.281);

}
.part2 p {
    width: 100%;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 15px;
}
.part2 span {
    cursor: pointer;
    padding: 10px 0;
}
.social{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #F1DEC9;
    padding:10px;
}


.social i{
    font-size: 20px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}

.social i:hover{
    color:#664725fb; 
}
