@font-face {
    font-family: 'National Park';
    src: url('/Font/NationalPark-Regular.woff2') format('woff2'),
        url('/Font/NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National Park';
    src: url('/Font/NationalPark-Heavy.woff2') format('woff2'),
        url('/Font/NationalPark-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National Park Outline';
    src: url('/Font/NationalPark-Outline.woff2') format('woff2'),
        url('/Font/NationalPark-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National Park';
    src: url('/Font/NationalPark-Thin.woff2') format('woff2'),
        url('/Font/NationalPark-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Font/Montserrat-Regular.woff2') format('woff2'),
        url('/Font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Font/Montserrat-Bold.woff2') format('woff2'),
        url('/Font/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
